USE [master]
GO
/****** Object:  Database [QLND]    Script Date: 1/14/2021 4:14:00 PM ******/
CREATE DATABASE [QLND]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLND', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLND.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLND_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLND_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLND].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLND]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[_USERNAME] [nvarchar](10) NOT NULL,
	[PASSWORD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_NHANH]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_NHANH](
	[MACHINHANH] [nvarchar](10) NOT NULL,
	[DIENTHOAICHINHANH] [nvarchar](50) NOT NULL,
	[DUONGCHINHANH] [nvarchar](20) NOT NULL,
	[QUANCHINHANH] [nvarchar](20) NOT NULL,
	[SOFAXCHINHANH] [nvarchar](50) NOT NULL,
	[_USERNAME] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CHI_NHANH] PRIMARY KEY CLUSTERED 
(
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHU_NHA]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU_NHA](
	[MACHUNHA] [nvarchar](10) NOT NULL,
	[TENCHUNHA] [nvarchar](50) NOT NULL,
	[DIENTHOAICHUNHA] [nvarchar](50) NOT NULL,
	[DIACHICHUNHA] [nvarchar](50) NOT NULL,
	[_USERNAME] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CHU_NHA] PRIMARY KEY CLUSTERED 
(
	[MACHUNHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_BAN]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_BAN](
	[MAHD] [nvarchar](10) NOT NULL,
	[MANHA] [nvarchar](10) NULL,
	[MAKHACHHANG] [nvarchar](10) NULL,
	[GIABAN_HD] [money] NOT NULL,
 CONSTRAINT [PK_HD_BAN] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_THUE]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_THUE](
	[MAHD] [nvarchar](10) NOT NULL,
	[MANHA] [nvarchar](10) NULL,
	[MAKHACHHANG] [nvarchar](10) NULL,
	[NGAYHETHAN_HOPDONG] [datetime] NOT NULL,
	[GIATHUE_HD] [money] NOT NULL,
 CONSTRAINT [PK_HD_THUE] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MAHD] [nvarchar](10) NOT NULL,
	[MANHA] [nvarchar](10) NOT NULL,
	[MAKHACHHANG] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_HOP_DONG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKHACHHANG] [nvarchar](10) NOT NULL,
	[MACHINHANH] [nvarchar](10) NOT NULL,
	[DIENTHOAIKHACHHANG] [nvarchar](50) NOT NULL,
	[DIACHIKHACHHANG] [nvarchar](50) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[_USERNAME] [nvarchar](10) NOT NULL,
	[DIEM_HOAT_DONG] [smallint] NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_SU_DANG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_DANG](
	[MANHA] [nvarchar](10) NOT NULL,
	[MACHUNHA] [nvarchar](10) NOT NULL,
	[NGAYDANG] [datetime] NOT NULL,
	[NGAY_HET_HAN] [datetime] NOT NULL,
	[BAN_THUE] [char](1) NOT NULL,
 CONSTRAINT [PK_LICH_SU_DANG] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC,
	[MACHUNHA] ASC,
	[NGAYDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_SU_XEM_NHA]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_XEM_NHA](
	[MANHA] [nvarchar](10) NOT NULL,
	[MAKHACHHANG] [nvarchar](10) NOT NULL,
	[NGAYXEM] [datetime] NOT NULL,
	[NHANXET] [text] NOT NULL,
 CONSTRAINT [PK_LICH_SU_XEM_NHA] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC,
	[MAKHACHHANG] ASC,
	[NGAYXEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_NHA]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NHA](
	[MALN] [nvarchar](10) NOT NULL,
	[TENLN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_NHA] PRIMARY KEY CLUSTERED 
(
	[MALN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA](
	[MANHA] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NULL,
	[MALN] [nvarchar](10) NULL,
	[MACHINHANH] [nvarchar](10) NULL,
	[DUONGNHA] [nvarchar](20) NOT NULL,
	[QUANNHA] [nvarchar](20) NOT NULL,
	[TINHTRANGNHA] [char](1) NOT NULL,
	[SOLUOTXEM] [int] NOT NULL,
	[SOPHONG] [int] NOT NULL,
 CONSTRAINT [PK_NHA] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_BAN]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_BAN](
	[MANHA] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NULL,
	[MALN] [nvarchar](10) NULL,
	[MACHINHANH] [nvarchar](10) NULL,
	[DUONGNHA] [nvarchar](20) NOT NULL,
	[QUANNHA] [nvarchar](20) NOT NULL,
	[TINHTRANGNHA] [char](1) NOT NULL,
	[SOLUOTXEM] [int] NOT NULL,
	[SOPHONG] [int] NOT NULL,
	[GIABAN] [money] NOT NULL,
	[DIEUKIEN] [text] NOT NULL,
 CONSTRAINT [PK_NHA_BAN] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_THUE]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_THUE](
	[MANHA] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NULL,
	[MALN] [nvarchar](10) NULL,
	[MACHINHANH] [nvarchar](10) NULL,
	[DUONGNHA] [nvarchar](20) NOT NULL,
	[QUANNHA] [nvarchar](20) NOT NULL,
	[TINHTRANGNHA] [char](1) NOT NULL,
	[SOLUOTXEM] [int] NOT NULL,
	[SOPHONG] [int] NOT NULL,
	[GIATHUE1THANG] [money] NOT NULL,
 CONSTRAINT [PK_NHA_THUE] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[MACHINHANH] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[GIOITINHNV] [nvarchar](3) NOT NULL,
	[DIACHINV] [nvarchar](50) NOT NULL,
	[NGAYSINHNV] [date] NOT NULL,
	[DIENTHOAINV] [nvarchar](15) NOT NULL,
	[LUONGNV] [money] NOT NULL,
	[_USERNAME] [nvarchar](10) NOT NULL,
	[DIEM_THUONG] [smallint] NOT NULL,
	[NHAN_VIEN_TRUONG] [char](1) NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEU_CHI]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEU_CHI](
	[MAKHACHHANG] [nvarchar](10) NOT NULL,
	[SOPHONGCAN] [int] NOT NULL,
	[DUONGYC] [nvarchar](20) NOT NULL,
	[QUANYC] [nvarchar](20) NOT NULL,
	[TENLOAINHA] [nvarchar](50) NOT NULL,
	[YEUCAUCANHAN] [nvarchar](100) NOT NULL,
	[KIEUNHA] [char](1) NOT NULL,
 CONSTRAINT [PK_TIEU_CHI] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC,
	[SOPHONGCAN] ASC,
	[DUONGYC] ASC,
	[QUANYC] ASC,
	[TENLOAINHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([_USERNAME], [PASSWORD]) VALUES (N'CN000', 123456)
INSERT [dbo].[ACCOUNT] ([_USERNAME], [PASSWORD]) VALUES (N'CN001', 123456)
INSERT [dbo].[ACCOUNT] ([_USERNAME], [PASSWORD]) VALUES (N'CN002', 123456)
GO
INSERT [dbo].[CHI_NHANH] ([MACHINHANH], [DIENTHOAICHINHANH], [DUONGCHINHANH], [QUANCHINHANH], [SOFAXCHINHANH], [_USERNAME]) VALUES (N'CNH00', N'0226224254', N'Y5', N'4', N'658032-9690', N'CNH00')
INSERT [dbo].[CHI_NHANH] ([MACHINHANH], [DIENTHOAICHINHANH], [DUONGCHINHANH], [QUANCHINHANH], [SOFAXCHINHANH], [_USERNAME]) VALUES (N'CNH01', N'0917979287', N'X6', N'Củ Chi', N'7337438057', N'CNH01')
INSERT [dbo].[CHI_NHANH] ([MACHINHANH], [DIENTHOAICHINHANH], [DUONGCHINHANH], [QUANCHINHANH], [SOFAXCHINHANH], [_USERNAME]) VALUES (N'CNH02', N'0599703826', N'E4', N'2', N'357631-2075', N'CNH02')
GO
INSERT [dbo].[CHU_NHA] ([MACHUNHA], [TENCHUNHA], [DIENTHOAICHUNHA], [DIACHICHUNHA], [_USERNAME]) VALUES (N'CN000', N'Lorena Bird', N'0293249004', N'352 South Rocky Milton Street', N'CN000')
INSERT [dbo].[CHU_NHA] ([MACHUNHA], [TENCHUNHA], [DIENTHOAICHUNHA], [DIACHICHUNHA], [_USERNAME]) VALUES (N'CN001', N'Anthony Carlson', N'0577908815', N'50 Oak Way', N'CN001')
INSERT [dbo].[CHU_NHA] ([MACHUNHA], [TENCHUNHA], [DIENTHOAICHUNHA], [DIACHICHUNHA], [_USERNAME]) VALUES (N'CN002', N'Jami Banks', N'0173854141', N'350 Milton Street', N'CN002')
GO
INSERT [dbo].[HD_BAN] ([MAHD], [MANHA], [MAKHACHHANG], [GIABAN_HD]) VALUES (N'HD000', N'N172', N'KH045', 9110436261.1242)
INSERT [dbo].[HD_BAN] ([MAHD], [MANHA], [MAKHACHHANG], [GIABAN_HD]) VALUES (N'HD001', N'N037', N'KH184', 8502669996.8626)
INSERT [dbo].[HD_BAN] ([MAHD], [MANHA], [MAKHACHHANG], [GIABAN_HD]) VALUES (N'HD002', N'N119', N'KH060', 2353362096.8244)
GO
INSERT [dbo].[HD_THUE] ([MAHD], [MANHA], [MAKHACHHANG], [NGAYHETHAN_HOPDONG], [GIATHUE_HD]) VALUES (N'HD000', N'N151', N'KH180', CAST(N'2021-01-25T17:06:29.510' AS DateTime), 445389056.9906)
INSERT [dbo].[HD_THUE] ([MAHD], [MANHA], [MAKHACHHANG], [NGAYHETHAN_HOPDONG], [GIATHUE_HD]) VALUES (N'HD001', NULL, N'KH171', CAST(N'2020-04-30T07:57:26.480' AS DateTime), 63328223.9052)
INSERT [dbo].[HD_THUE] ([MAHD], [MANHA], [MAKHACHHANG], [NGAYHETHAN_HOPDONG], [GIATHUE_HD]) VALUES (N'HD002', N'N125', N'KH066', CAST(N'2023-01-16T12:56:51.180' AS DateTime), 158711183.5921)
GO
INSERT [dbo].[HOP_DONG] ([MAHD], [MANHA], [MAKHACHHANG]) VALUES (N'HD000', N'N157', N'KH186')
INSERT [dbo].[HOP_DONG] ([MAHD], [MANHA], [MAKHACHHANG]) VALUES (N'HD001', N'N009', N'KH045')
INSERT [dbo].[HOP_DONG] ([MAHD], [MANHA], [MAKHACHHANG]) VALUES (N'HD002', N'N199', N'KH006')
GO
INSERT [dbo].[KHACH_HANG] ([MAKHACHHANG], [MACHINHANH], [DIENTHOAIKHACHHANG], [DIACHIKHACHHANG], [TENKHACHHANG], [_USERNAME], [DIEM_HOAT_DONG]) VALUES (N'KH000', N'CNH00', N'0162267514', N'85 Freeway', N'Hoang', N'KH000', 730)
INSERT [dbo].[KHACH_HANG] ([MAKHACHHANG], [MACHINHANH], [DIENTHOAIKHACHHANG], [DIACHIKHACHHANG], [TENKHACHHANG], [_USERNAME], [DIEM_HOAT_DONG]) VALUES (N'KH001', N'CNH14', N'0557933088', N'985 Rocky First Parkway', N'hehe', N'KH001', 3650)
INSERT [dbo].[KHACH_HANG] ([MAKHACHHANG], [MACHINHANH], [DIENTHOAIKHACHHANG], [DIACHIKHACHHANG], [TENKHACHHANG], [_USERNAME], [DIEM_HOAT_DONG]) VALUES (N'KH002', N'CNH10', N'0470724987', N'418 East Clarendon Street', N'Teresa Dominguez', N'KH002', 331)
GO
INSERT [dbo].[LICH_SU_DANG] ([MANHA], [MACHUNHA], [NGAYDANG], [NGAY_HET_HAN], [BAN_THUE]) VALUES (N'N000', N'CN096', CAST(N'2020-11-08T02:29:36.020' AS DateTime), CAST(N'2020-12-27T16:28:37.880' AS DateTime), N'0')
INSERT [dbo].[LICH_SU_DANG] ([MANHA], [MACHUNHA], [NGAYDANG], [NGAY_HET_HAN], [BAN_THUE]) VALUES (N'N001', N'CN177', CAST(N'2020-06-20T22:02:26.550' AS DateTime), CAST(N'2020-08-11T09:46:19.780' AS DateTime), N'0')
INSERT [dbo].[LICH_SU_DANG] ([MANHA], [MACHUNHA], [NGAYDANG], [NGAY_HET_HAN], [BAN_THUE]) VALUES (N'N002', N'CN077', CAST(N'2020-03-06T13:30:19.580' AS DateTime), CAST(N'2020-04-27T19:07:12.600' AS DateTime), N'1')
GO
INSERT [dbo].[LICH_SU_XEM_NHA] ([MANHA], [MAKHACHHANG], [NGAYXEM], [NHANXET]) VALUES (N'N000', N'KH162', CAST(N'2020-08-01T08:49:15.270' AS DateTime), N'Enter Enter text')
INSERT [dbo].[LICH_SU_XEM_NHA] ([MANHA], [MAKHACHHANG], [NGAYXEM], [NHANXET]) VALUES (N'N001', N'KH108', CAST(N'2020-09-17T19:51:14.220' AS DateTime), N'your here your')
INSERT [dbo].[LICH_SU_XEM_NHA] ([MANHA], [MAKHACHHANG], [NGAYXEM], [NHANXET]) VALUES (N'N002', N'KH043', CAST(N'2020-05-24T07:12:06.040' AS DateTime), N'Enter here here')
GO
INSERT [dbo].[LOAI_NHA] ([MALN], [TENLN]) VALUES (N'LNA', N'Lo?i nhà T')
INSERT [dbo].[LOAI_NHA] ([MALN], [TENLN]) VALUES (N'LNB', N'Lo?i nhà W')
INSERT [dbo].[LOAI_NHA] ([MALN], [TENLN]) VALUES (N'LNC', N'Lo?i nhà K')
GO
INSERT [dbo].[NHA] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG]) VALUES (N'N000', N'nv027', N'LNO', N'CNH10', N'D2', N'1', N'0', 902, 10)
INSERT [dbo].[NHA] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG]) VALUES (N'N001', N'NV129', N'LNY', N'CNH19', N'V6', N'3', N'0', 235, 81)
INSERT [dbo].[NHA] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG]) VALUES (N'N002', N'NV089', N'LNM', N'CNH09', N'D9', N'7', N'0', 105, 3)
GO
INSERT [dbo].[NHA_BAN] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIABAN], [DIEUKIEN]) VALUES (N'N150', N'NV022', N'LND', N'CNH10', N'Y6', N'Cần Giờ', N'1', 647, 6, 4599817937.9384, N'text text Enter')
INSERT [dbo].[NHA_BAN] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIABAN], [DIEUKIEN]) VALUES (N'N151', N'NV045', N'LNO', N'CNH07', N'N2', N'Thủ Đức', N'0', 842, 5, 1370774939.9686, N'text text text')
INSERT [dbo].[NHA_BAN] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIABAN], [DIEUKIEN]) VALUES (N'N152', N'NV089', N'LNM', N'CNH17', N'fdfddkjkj', N'16', N'1', 27, 29, 682529863.3810, N'here text here')
GO
INSERT [dbo].[NHA_THUE] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIATHUE1THANG]) VALUES (N'N100', N'NV101', N'LNA', N'CNH00', N'W4', N'7', N'0', 387, 76, 371323272.7961)
INSERT [dbo].[NHA_THUE] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIATHUE1THANG]) VALUES (N'N101', N'NV073', N'LNT', N'CNH15', N'J5', N'Củ Chi', N'0', 848, 90, 495262608.3304)
INSERT [dbo].[NHA_THUE] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIATHUE1THANG]) VALUES (N'N102', N'NV173', N'LNA', N'CNH00', N'R0', N'Hóc Môn', N'1', 125, 96, 128487999.1871)
GO
INSERT [dbo].[NHAN_VIEN] ([MANV], [MACHINHANH], [TENNV], [GIOITINHNV], [DIACHINV], [NGAYSINHNV], [DIENTHOAINV], [LUONGNV], [_USERNAME], [DIEM_THUONG], [NHAN_VIEN_TRUONG]) VALUES (N'NV000', N'CNH01', N'Staci Avery', N'Nam', N'767 West Oak Road', CAST(N'1990-09-26' AS Date), N'0191268036', 23738345.3798, N'NV000', 650, N'1')
INSERT [dbo].[NHAN_VIEN] ([MANV], [MACHINHANH], [TENNV], [GIOITINHNV], [DIACHINV], [NGAYSINHNV], [DIENTHOAINV], [LUONGNV], [_USERNAME], [DIEM_THUONG], [NHAN_VIEN_TRUONG]) VALUES (N'NV001', N'CNH14', N'Becky Cunningham', N'Nam', N'703 Clarendon Avenue', CAST(N'1994-08-19' AS Date), N'0573279696', 33923030.5813, N'NV001', 400, N'1')
INSERT [dbo].[NHAN_VIEN] ([MANV], [MACHINHANH], [TENNV], [GIOITINHNV], [DIACHINV], [NGAYSINHNV], [DIENTHOAINV], [LUONGNV], [_USERNAME], [DIEM_THUONG], [NHAN_VIEN_TRUONG]) VALUES (N'NV002', N'CNH19', N'Ben Kirby', N'Nam', N'75 Milton Street', CAST(N'1997-12-08' AS Date), N'0923924492', 46167130.4127, N'NV002', 673, N'1')
GO
INSERT [dbo].[TIEU_CHI] ([MAKHACHHANG], [SOPHONGCAN], [DUONGYC], [QUANYC], [TENLOAINHA], [YEUCAUCANHAN], [KIEUNHA]) VALUES (N'KH000', 10, N'B9', N'Hóc Môn', N'LNO', N'text text Enter here your your text Enter your Enter Enter text here here text your text here Enter', N'1')
INSERT [dbo].[TIEU_CHI] ([MAKHACHHANG], [SOPHONGCAN], [DUONGYC], [QUANYC], [TENLOAINHA], [YEUCAUCANHAN], [KIEUNHA]) VALUES (N'KH001', 7, N'O7', N'Củ Chi', N'LNQ', N'your text here Enter your Enter Enter your your your here text your Enter here here text your your', N'1')
INSERT [dbo].[TIEU_CHI] ([MAKHACHHANG], [SOPHONGCAN], [DUONGYC], [QUANYC], [TENLOAINHA], [YEUCAUCANHAN], [KIEUNHA]) VALUES (N'KH002', 5, N'K9', N'4', N'LNP', N'your Enter text Enter here here here text Enter Enter your here text here your text your your here', N'1')
GO
ALTER TABLE [dbo].[LICH_SU_DANG] ADD  CONSTRAINT [DF_NgayDang]  DEFAULT (getdate()) FOR [NGAYDANG]
GO
ALTER TABLE [dbo].[LICH_SU_XEM_NHA] ADD  CONSTRAINT [DF_NgayXem]  DEFAULT (getdate()) FOR [NGAYXEM]
GO
ALTER TABLE [dbo].[CHI_NHANH]  WITH CHECK ADD FOREIGN KEY([_USERNAME])
REFERENCES [dbo].[ACCOUNT] ([_USERNAME])
GO
ALTER TABLE [dbo].[CHU_NHA]  WITH CHECK ADD FOREIGN KEY([_USERNAME])
REFERENCES [dbo].[ACCOUNT] ([_USERNAME])
GO
ALTER TABLE [dbo].[HD_BAN]  WITH CHECK ADD  CONSTRAINT [FK_HD_BAN_THUOC_VE_HOP_DONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOP_DONG] ([MAHD])
GO
ALTER TABLE [dbo].[HD_BAN] CHECK CONSTRAINT [FK_HD_BAN_THUOC_VE_HOP_DONG]
GO
ALTER TABLE [dbo].[HD_THUE]  WITH CHECK ADD  CONSTRAINT [FK_HD_THUE_THUOC_VE2_HOP_DONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOP_DONG] ([MAHD])
GO
ALTER TABLE [dbo].[HD_THUE] CHECK CONSTRAINT [FK_HD_THUE_THUOC_VE2_HOP_DONG]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOP_DONG__DUOC_TOA_KHACH_HA] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACH_HANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [FK_HOP_DONG__DUOC_TOA_KHACH_HA]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOP_DONG_TRONG_NHA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [FK_HOP_DONG_TRONG_NHA]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD FOREIGN KEY([_USERNAME])
REFERENCES [dbo].[ACCOUNT] ([_USERNAME])
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HA_QUAN_LY_K_CHI_NHAN] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHI_NHANH] ([MACHINHANH])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HA_QUAN_LY_K_CHI_NHAN]
GO
ALTER TABLE [dbo].[LICH_SU_DANG]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU__CO_NHA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[LICH_SU_DANG] CHECK CONSTRAINT [FK_LICH_SU__CO_NHA]
GO
ALTER TABLE [dbo].[LICH_SU_DANG]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU__CUA_CHU_NHA] FOREIGN KEY([MACHUNHA])
REFERENCES [dbo].[CHU_NHA] ([MACHUNHA])
GO
ALTER TABLE [dbo].[LICH_SU_DANG] CHECK CONSTRAINT [FK_LICH_SU__CUA_CHU_NHA]
GO
ALTER TABLE [dbo].[LICH_SU_XEM_NHA]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU__DUOC_XEM_NHA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[LICH_SU_XEM_NHA] CHECK CONSTRAINT [FK_LICH_SU__DUOC_XEM_NHA]
GO
ALTER TABLE [dbo].[LICH_SU_XEM_NHA]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU__XEM_BOI_KHACH_HA] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACH_HANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[LICH_SU_XEM_NHA] CHECK CONSTRAINT [FK_LICH_SU__XEM_BOI_KHACH_HA]
GO
ALTER TABLE [dbo].[NHA]  WITH CHECK ADD  CONSTRAINT [FK_NHA__DUOC_QUA_CHI_NHAN] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHI_NHANH] ([MACHINHANH])
GO
ALTER TABLE [dbo].[NHA] CHECK CONSTRAINT [FK_NHA__DUOC_QUA_CHI_NHAN]
GO
ALTER TABLE [dbo].[NHA]  WITH CHECK ADD  CONSTRAINT [FK_NHA_PHU_TRACH_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHA] CHECK CONSTRAINT [FK_NHA_PHU_TRACH_NHAN_VIE]
GO
ALTER TABLE [dbo].[NHA]  WITH CHECK ADD  CONSTRAINT [FK_NHA_THUOC_LOAI_NHA] FOREIGN KEY([MALN])
REFERENCES [dbo].[LOAI_NHA] ([MALN])
GO
ALTER TABLE [dbo].[NHA] CHECK CONSTRAINT [FK_NHA_THUOC_LOAI_NHA]
GO
ALTER TABLE [dbo].[NHA_BAN]  WITH CHECK ADD  CONSTRAINT [FK_NHA_BAN_CON_CUA_NHA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[NHA_BAN] CHECK CONSTRAINT [FK_NHA_BAN_CON_CUA_NHA]
GO
ALTER TABLE [dbo].[NHA_THUE]  WITH CHECK ADD  CONSTRAINT [FK_NHA_THUE_CON_CUA2_NHA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[NHA_THUE] CHECK CONSTRAINT [FK_NHA_THUE_CON_CUA2_NHA]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([_USERNAME])
REFERENCES [dbo].[ACCOUNT] ([_USERNAME])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIE_LAM_VIEC__CHI_NHAN] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHI_NHANH] ([MACHINHANH])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIE_LAM_VIEC__CHI_NHAN]
GO
ALTER TABLE [dbo].[TIEU_CHI]  WITH CHECK ADD  CONSTRAINT [FK_TIEU_CHI_NHU_CAU_KHACH_HA] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACH_HANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[TIEU_CHI] CHECK CONSTRAINT [FK_TIEU_CHI_NHU_CAU_KHACH_HA]
GO
ALTER TABLE [dbo].[HD_BAN]  WITH CHECK ADD  CONSTRAINT [CHK_GiaBanHD] CHECK  (([GIABAN_HD]>=(10000000)))
GO
ALTER TABLE [dbo].[HD_BAN] CHECK CONSTRAINT [CHK_GiaBanHD]
GO
ALTER TABLE [dbo].[HD_THUE]  WITH CHECK ADD  CONSTRAINT [CHK_GiaThueHD] CHECK  (([GIATHUE_HD]>=(500000)))
GO
ALTER TABLE [dbo].[HD_THUE] CHECK CONSTRAINT [CHK_GiaThueHD]
GO
ALTER TABLE [dbo].[LICH_SU_DANG]  WITH CHECK ADD  CONSTRAINT [CHK_LSDANG] CHECK  (([BAN_THUE]='0' OR [BAN_THUE]='1'))
GO
ALTER TABLE [dbo].[LICH_SU_DANG] CHECK CONSTRAINT [CHK_LSDANG]
GO
ALTER TABLE [dbo].[LICH_SU_DANG]  WITH CHECK ADD  CONSTRAINT [CHK_NgayHetHan] CHECK  (([NGAY_HET_HAN]>[NGAYDANG]))
GO
ALTER TABLE [dbo].[LICH_SU_DANG] CHECK CONSTRAINT [CHK_NgayHetHan]
GO
ALTER TABLE [dbo].[NHA]  WITH CHECK ADD  CONSTRAINT [CHK_TTNha] CHECK  (([TINHTRANGNHA]='0' OR [TINHTRANGNHA]='1'))
GO
ALTER TABLE [dbo].[NHA] CHECK CONSTRAINT [CHK_TTNha]
GO
ALTER TABLE [dbo].[NHA_BAN]  WITH CHECK ADD  CONSTRAINT [CHK_GiaBan] CHECK  (([GIABAN]>(10000000)))
GO
ALTER TABLE [dbo].[NHA_BAN] CHECK CONSTRAINT [CHK_GiaBan]
GO
ALTER TABLE [dbo].[NHA_THUE]  WITH CHECK ADD  CONSTRAINT [CHK_TienThue] CHECK  (([GIATHUE1THANG]>(500000)))
GO
ALTER TABLE [dbo].[NHA_THUE] CHECK CONSTRAINT [CHK_TienThue]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CHK_GioiTinh] CHECK  (([GIOITINHNV]='Nam' OR [GIOITINHNV]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CHK_GioiTinh]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CHK_Luong] CHECK  (([LUONGNV]>(1000000)))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CHK_Luong]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CHK_NgaySinh] CHECK  (([NGAYSINHNV]>='1960-01-01' AND [NGAYSINHNV]<=dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CHK_NgaySinh]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CHK_NHANVIENTRUONG] CHECK  (([NHAN_VIEN_TRUONG]='0' OR [NHAN_VIEN_TRUONG]='1'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CHK_NHANVIENTRUONG]
GO
ALTER TABLE [dbo].[TIEU_CHI]  WITH CHECK ADD  CONSTRAINT [CHK_TTTIEUCHI] CHECK  (([KIEUNHA]='0' OR [KIEUNHA]='1'))
GO
ALTER TABLE [dbo].[TIEU_CHI] CHECK CONSTRAINT [CHK_TTTIEUCHI]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_NV_TRUONG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CHECK_NV_TRUONG] 
	@USERNAME VARCHAR(50),
	@FLAG INT OUT
AS
BEGIN
	SELECT @FLAG = NV.NHAN_VIEN_TRUONG
	FROM NHAN_VIEN NV
	WHERE NV._USERNAME = @USERNAME
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BanNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_BanNha]
@Manha NVARCHAR(10)
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	IF NOT EXISTS (SELECT MANHA FROM [dbo].[NHA_BAN] WHERE MANHA = @Manha AND TINHTRANGNHA = '0') 
	BEGIN
		PRINT N'Ma nha khong dung hoac da duoc ban hoac khong dung de ban!Vui long kiem tra lai'
		RAISERROR(N'Ma nha khong dung hoac da duoc ban hoac khong dung de ban!Vui long kiem tra lai',0, 0)
		ROLLBACK TRAN
	END
	ELSE
	BEGIN	
		UPDATE [dbo].[NHA_BAN] SET TINHTRANGNHA = '1' WHERE MANHA = @Manha
		WAITFOR DELAY '00:00:5'
		UPDATE [dbo].[NHA] SET TINHTRANGNHA = '1' WHERE MANHA = @Manha
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_Capnhatdl]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Capnhatdl]
@Manha NVARCHAR(10)
AS
BEGIN
	UPDATE [dbo].[NHA_BAN] SET TINHTRANGNHA = '0' WHERE MANHA = @Manha
	UPDATE [dbo].[NHA] SET TINHTRANGNHA = '0' WHERE MANHA = @Manha
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatSoPhong]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_CapNhatSoPhong] @manha varchar(10),@sophong int, @error varchar(max) output
as
begin tran 
	SET tran isolation level repeatable read
	if(exists(select * from NHA where MANHA = @manha) and @sophong > 0)
		BEGIN 
			
		    --select *from NHA where MANHA = @manha
			update NHA set SOPHONG=@sophong where MANHA= @manha
			update NHA_BAN set SOPHONG=@sophong where MANHA= @manha
			update NHA_THUE set SOPHONG=@sophong where MANHA= @manha
			--select *from NHA where MANHA = @manha
		END 
  --      BEGIN CATCH
		--IF(ERROR_NUMBER() = 1205)
		--begin
		--	SET @Error = ERROR_MESSAGE()
		
		--end
		--END CATCH
	else 
		begin
			set @error = 'Co loi trong luc cap nhat so phong'
			raiserror(@error, 0, 0)
			rollback tran
			return
		end
 commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_ChinhSuaThongTinKH]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_ChinhSuaThongTinKH]
@Makh NVARCHAR(10), @Tenkh NVARCHAR(20), @Diachi NVARCHAR(50), @SDT NVARCHAR(50)
AS
BEGIN TRAN
	BEGIN TRY
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED
		IF NOT EXISTS(SELECT * FROM [dbo].[KHACH_HANG] WHERE _USERNAME = @Makh)
		BEGIN
			PRINT'Chưa có khách hàng đó trong hệ thống';
			RAISERROR(N'Chưa có khách hàng đó trong hệ thống', 0, 0)
			ROLLBACK TRAN
		END
		ELSE
			BEGIN
			UPDATE [dbo].[KHACH_HANG] SET TENKHACHHANG = @Tenkh, DIENTHOAIKHACHHANG = @SDT, DIACHIKHACHHANG = @Diachi WHERE _USERNAME = @Makh
			END
	END TRY
	BEGIN CATCH
		PRINT'Cập nhật thông tin không thành công!!!';
		RAISERROR (N'Cập nhật thông tin không thành công!!!', 0, 0)
		ROLLBACK TRAN
	END CATCH
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenChiNhanh]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ChuyenChiNhanh]
	@maNV VARCHAR(10), @maCN VARCHAR(10)
AS
BEGIN TRAN
	IF (NOT EXISTS(SELECT * FROM dbo.CHI_NHANH WHERE MACHINHANH = @maCN))
	BEGIN
		PRINT(N'Không tồn tại chi nhánh trùng với mã nhập vào')
		RETURN
	END

	UPDATE dbo.NHAN_VIEN
	SET MACHINHANH = @maCN
	WHERE MANV = @maNV

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenQuyenQuanLyNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[sp_ChuyenQuyenQuanLyNha] @manv1 varchar(10),@manv2 varchar(10),@error varchar(max) output
as
begin tran 
	set tran isolation level REPEATABLE READ
	if(exists(select * from NHA where MANV = @manv1))
	BEGIN 
		waitfor delay '00:00:3'
		
		update NHA_BAN set MANV=@manv2 where MANV=@manv1
		update NHA_THUE set MANV=@manv2 where MANV=@manv1
		update NHA set MANV=@manv2 where MANV=@manv1
		--select * from NHA Where MANHA = 'N057' or MANHA = 'N064' or MANHA = 'N125' or MANHA = 'N128' or MANHA = 'N135' 
	END 
	ELSE BEGIN
			set @error = 'Co loi trong luc chuyen quyen quan ly'
			raiserror(@error, 0, 0)
		rollback tran
		return
	END
 commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenQuyenQuanLyNha_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[sp_ChuyenQuyenQuanLyNha_fix] @manv1 varchar(10),@manv2 varchar(10),@error varchar(50) out
as
begin tran 
	set tran isolation level SERIALIZABLE
	if(exists(select * from NHA where MANV = @manv1))
	begin
		select * from NHA WITH(XLOCK) 
		WHERE MANV = @manv1
		waitfor delay '00:00:3'
		update NHA_BAN set MANV=@manv2 where MANV=@manv1
		update NHA_THUE set MANV=@manv2 where MANV=@manv1

		update NHA set MANV=@manv2 where MANV=@manv1
		--select * from NHA Where MANHA = 'N057' or MANHA = 'N064' or MANHA = 'N125' or MANHA = 'N128' or MANHA = 'N135' 
	end
	else
	begin
		set @error = concat('Co loi trong luc chuyen quyen quan ly tu ' ,@manv1 ,'sang ', @manv2)
		raiserror('Co loi trong luc chuyen quyen quan ly', 0, 0)
		rollback tran
		return
	end
 commit tran
GO
/****** Object:  StoredProcedure [dbo].[SP_CONG_DIEM_KH]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Quản lý tiến hành cộng điểm cho khách hàng
CREATE   PROCEDURE [dbo].[SP_CONG_DIEM_KH] @MAKH VARCHAR(10)
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	DECLARE @DIEM SMALLINT
	SELECT @DIEM = DIEM_HOAT_DONG FROM KHACH_HANG WHERE MAKHACHHANG = @MAKH
	SET @DIEM = @DIEM + 50
	UPDATE KHACH_HANG SET DIEM_HOAT_DONG = @DIEM WHERE MAKHACHHANG = @MAKH
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_DangNha] 
@Sophong INT, @Duong NVARCHAR(20), @Quan NVARCHAR(20), @Loainha CHAR(1), @Gia MONEY
AS
BEGIN TRAN
	BEGIN TRY
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED
		---Tự động SET Manha tăng lên khi được thêm vào
		DECLARE @Manha NVARCHAR(10)
		DECLARE @temp INT = 0
		SELECT @Manha =MAX(MANHA) FROM [dbo].[NHA]
		SET @temp = LEN(@Manha)
		SET @Manha = CAST(SUBSTRING(@Manha, 2, @temp) AS INT);
		SET @Manha = 'N'+ CAST ((@Manha + 1) AS NVARCHAR(10));

		---Thêm vào bảng nhà trước 
		INSERT [dbo].[NHA] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG]) VALUES (@Manha, NULL, NULL, NULL, @Duong, @Quan, N'0', 0, @Sophong)
  		IF @Loainha = '0' ---Dang nha cho thue
		BEGIN
		----nếu nhà cho thuê thì thêm vào bảng Nhà thuê
			INSERT [dbo].[NHA_THUE] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIATHUE1THANG]) 
			VALUES (@Manha, NULL, NULL, NULL, @Duong, @Quan, N'0', 0, @Sophong, @Gia)
		END
		ELSE
		BEGIN
		----nếu nhà bán thì thêm vào bảng Nhà bán
			INSERT [dbo].[NHA_BAN] ([MANHA], [MANV], [MALN], [MACHINHANH], [DUONGNHA], [QUANNHA], [TINHTRANGNHA], [SOLUOTXEM], [SOPHONG], [GIABAN], [DIEUKIEN]) 
			VALUES (@Manha, NULL, NULL, NULL, @Duong, @Quan, N'0', 0, @Sophong, @Gia, N'Enter your text')
		END
	END TRY
	BEGIN CATCH
		PRINT N'Đăng nhà không thành công!!!'
		RAISERROR (N'Đăng nhà không thành công!!!', 0, 0)
		ROLLBACK TRAN
	END CATCH
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_fix_BanNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_fix_BanNha]
@Manha NVARCHAR(10)
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE 
	IF (NOT EXISTS (SELECT MANHA FROM [dbo].[NHA_BAN] WITH (XLOCK) WHERE MANHA = @Manha AND TINHTRANGNHA = '0') 
	AND NOT EXISTS (SELECT MANHA FROM [dbo].[NHA] WITH (XLOCK) WHERE MANHA = @Manha AND TINHTRANGNHA = '0'))
	BEGIN
		PRINT N'Ma nha khong dung hoac da duoc ban hoac khong dung de ban!Vui long kiem tra lai'
		RAISERROR(N'Ma nha khong dung hoac da duoc ban hoac khong dung de ban!Vui long kiem tra lai',0, 0)
		ROLLBACK TRAN
	END
	ELSE
	BEGIN	
		UPDATE [dbo].[NHA_BAN] SET TINHTRANGNHA = '1' WHERE MANHA = @Manha
		WAITFOR DELAY '00:00:5'
		UPDATE [dbo].[NHA] SET TINHTRANGNHA = '1' WHERE MANHA = @Manha
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_fix_TimKiemNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROC [dbo].[sp_fix_TimKiemNha]
@Loainha CHAR(1), @count int out
AS
BEGIN TRAN
	BEGIN TRY
		SET TRANSACTION ISOLATION LEVEL SERIALIZABLE --READ COMMITTED REPEATABLE READ 
  		IF @Loainha = '0' ---Tim nha de thue
		BEGIN
			---Kiểm tra nhà ở tình trạng chưa được thuê thì mới xuất ra
			IF NOT EXISTS (SELECT * FROM [dbo].[NHA_THUE] NT WHERE NT.TINHTRANGNHA = '0')
				BEGIN
					PRINT('Không có nhà đáp ứng yêu cầu của quý khách hàng!!!')
					RAISERROR (N'Không có nhà đáp ứng yêu cầu của quý khách hàngccc!!!', 0, 0)
					ROLLBACK TRAN
				END
			ELSE
				BEGIN
					---Đếm số dòng sẽ được xuất ra
					---SELECT COUNT(*) AS Soluongdocduoc FROM [dbo].[NHA_THUE] NB WHERE NB.TINHTRANGNHA = '0'
					set @count = (SELECT COUNT(*) AS Soluongdocduoc FROM [dbo].[NHA_THUE] WHERE TINHTRANGNHA = '0')
					WAITFOR DELAY '00:00:5'	
					SELECT * FROM [dbo].[NHA_THUE] NT WHERE NT.TINHTRANGNHA = '0'
				END
		END
		ELSE ---Tim nha de mua
		BEGIN
		---Kiểm tra nhà ở tình trạng chưa được bán thì mới xuất ra
			IF NOT EXISTS (SELECT * FROM [dbo].[NHA_BAN] NB WHERE NB.TINHTRANGNHA = '0')
				BEGIN
					PRINT('Không có nhà đáp ứng yêu cầu của quý khách hàng!!!')
					RAISERROR (N'Không có nhà đáp ứng yêu cầu của quý khách hàng!!!', 0, 0)
					ROLLBACK TRAN
				END
			ELSE
				BEGIN
					---Đếm số dòng sẽ được xuất ra 
					set @count = (SELECT COUNT(*) AS Soluongdocduoc FROM [dbo].[NHA_BAN] NB WHERE NB.TINHTRANGNHA = '0')
					WAITFOR DELAY '00:00:5'
					SELECT * FROM [dbo].[NHA_BAN] NB WHERE NB.TINHTRANGNHA = '0'			
				END
		END
	END TRY
	BEGIN CATCH
		PRINT('Tìm kiếm nhà không thành công!!!')
		RAISERROR (N'Tìm kiếm nhà không thành công!!!', 0, 0)
		ROLLBACK TRAN
	END CATCH
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_fix_XemThongTinKhachHang]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_fix_XemThongTinKhachHang]
@Tenkh NVARCHAR(20), @out varchar(50) out 
AS
BEGIN TRAN
		SET TRANSACTION ISOLATION LEVEL REPEATABLE READ 
		IF NOT EXISTS (SELECT * FROM [dbo].[KHACH_HANG] WHERE TENKHACHHANG = @Tenkh )
		BEGIN
			PRINT N'Không có tên khách hàng đó trong hệ thống'
			RAISERROR(N'Không có tên khách hàng đó trong hệ thống', 0, 0)
			ROLLBACK TRAN
		END
		ELSE
		BEGIN
			---SELECT COUNT(*) AS SLKHACHHANG FROM [dbo].[KHACH_HANG] WHERE TENKHACHHANG = @Tenkh
			set @out = 'Tim thay khach hang theo yeu cau'
			WAITFOR DELAY '00:00:5'
			SELECT * FROM [dbo].[KHACH_HANG] WHERE TENKHACHHANG = @Tenkh 
		END 
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Khách hàng đăng nhập với tên đăng nhập và mật khẩu
CREATE   PROCEDURE [dbo].[SP_LOGIN] @ID VARCHAR(10),  @PASS VARCHAR(50)
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	IF EXISTS (SELECT 1 FROM ACCOUNT WITH(NOLOCK) WHERE _USERNAME = @ID AND _PASSWORD = @PASS)
	BEGIN
		PRINT 'DANG NHAP THANH CONG'		
	END
	ELSE
	BEGIN
		PRINT 'DANG NHAP THAT BAI'
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaThongTinKH]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa thông tin khách hàng
create PROCEDURE [dbo].[sp_SuaThongTinKH]
	@username VARCHAR(10), @tenKH VARCHAR(50), @diachiKH VARCHAR(50), @dienthoaiKH VARCHAR(50)
AS
BEGIN TRAN
	IF (NOT EXISTS(SELECT * FROM dbo.KHACH_HANG WHERE _USERNAME = @username))
	BEGIN
		PRINT(N'Không tồn tại khách hàng trùng với mã nhập vào')
		RETURN
	END
	
	IF(@tenKH = '')
		SET @tenKH = (SELECT TENKHACHHANG FROM dbo.KHACH_HANG WHERE _USERNAME = @username)			
	IF(@dienthoaiKH = '')
		SET @dienthoaiKH = (SELECT DIENTHOAIKHACHHANG FROM dbo.KHACH_HANG WHERE _USERNAME = @username)			
	IF(@diachiKH = '')
		SET @diachiKH = (SELECT	DIACHIKHACHHANG FROM dbo.KHACH_HANG WHERE _USERNAME = @username)
	
	UPDATE dbo.KHACH_HANG
		SET TENKHACHHANG = @tenKH, DIACHIKHACHHANG = @diachiKH , DIENTHOAIKHACHHANG = @dienthoaiKH 
		WHERE _USERNAME = @username
		WAITFOR DELAY '00:00:05'

	IF((LEN(@dienthoaiKH) <> 10) OR (LEFT(@dienthoaiKH, 1) <> '0'))
	BEGIN
		ROLLBACK TRAN
		RETURN
	END

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaThongTinNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SuaThongTinNha]
	@maNha VARCHAR(10), @duong VARCHAR(20), @quan VARCHAR(20), @soPhong INT
AS
BEGIN TRAN
	IF (NOT EXISTS(SELECT * FROM dbo.NHA WHERE MANHA = @maNha))
	BEGIN
		PRINT(N'Không tồn tại nhà trùng với mã nhập vào')
		RETURN
	END
	
	IF(@duong = '')
		SET @duong = (SELECT DUONGNHA FROM dbo.NHA WHERE MANHA = @maNha)			
	IF(@quan = '')
		SET @quan = (SELECT QUANNHA FROM dbo.NHA WHERE MANHA = @maNha)			
	IF(@soPhong = '')
		SET @soPhong = (SELECT SOPHONG FROM dbo.NHA WHERE MANHA = @maNha)
			
			
	UPDATE dbo.NHA
	SET DUONGNHA = @duong, QUANNHA = @quan, SOPHONG = @soPhong 
	WHERE MANHA = @maNha
	WAITFOR DELAY '00:00:05'
	
	UPDATE dbo.NHA_BAN
	SET DUONGNHA = @duong, QUANNHA = @quan, SOPHONG = @soPhong 
	WHERE MANHA = @maNha
	UPDATE dbo.NHA_THUE
	SET DUONGNHA = @duong, QUANNHA = @quan, SOPHONG = @soPhong 
	WHERE MANHA = @maNha

	IF (@soPhong <= 0)
	BEgin
		ROLLBACK TRAN
		RETURN
	end
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_TANGDIEMKHACHHANG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_TANGDIEMKHACHHANG] @maKH VARCHAR(10), @diem SMALLINT
AS
BEGIN TRAN
--SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
	DECLARE @temp SMALLINT;
	IF(@diem < 0)
	BEGIN
	PRINT(N'Vui long nhap lai')
		RETURN
	END
		
	IF(NOT EXISTS(SELECT * FROM KHACH_HANG WHERE MAKHACHHANG = @maKH))
	BEGIN
		PRINT(N'Khong co khach hang vua nhap. Vui long nhap lai.')
		RETURN
	END
	--Them diem hoat dong
	SET @temp=(SELECT DIEM_HOAT_DONG FROM KHACH_HANG WHERE MAKHACHHANG = @maKH)
	WAITFOR DELAY '00:00:05'
	SET @temp=@temp+@diem
	UPDATE KHACH_HANG
	SET DIEM_HOAT_DONG=@temp
	WHERE MAKHACHHANG = @maKH
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_TANGDIEMKHACHHANG_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_TANGDIEMKHACHHANG_fix] @maKH VARCHAR(10), @diem SMALLINT
AS
BEGIN TRAN
SET TRANSACTION ISOLATION LEVEL  REPEATABLE READ
	DECLARE @temp SMALLINT;
	IF(@diem < 0)
	BEGIN
	PRINT(N'Vui long nhap lai')
		RETURN
	END
		
	IF(NOT EXISTS(SELECT * FROM KHACH_HANG  WHERE MAKHACHHANG = @maKH))
	BEGIN
		PRINT(N'Khong co khach hang vua nhap. Vui long nhap lai.')
		RETURN
	END
	--Them diem hoat dong
	SET @temp=(SELECT DIEM_HOAT_DONG FROM KHACH_HANG WHERE MAKHACHHANG = @maKH)
	WAITFOR DELAY '00:00:05'
	SET @temp=@temp+@diem
	UPDATE KHACH_HANG
	SET DIEM_HOAT_DONG=@temp
	WHERE MAKHACHHANG = @maKH
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_TANGDIEMKHMUANHA]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
-- TANG DIEM KHI KHACH HANG MUA 1 NHA
CREATE   PROCEDURE [dbo].[SP_TANGDIEMKHMUANHA] @sdt VARCHAR(10)
AS
BEGIN
--SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
DECLARE @temp SMALLINT;		
	IF(NOT EXISTS(SELECT * FROM KHACH_HANG WHERE DIENTHOAIKHACHHANG = @sdt))
	BEGIN
		PRINT(N'Khong co khach hang vua nhap. Vui long nhap lai.')
		RETURN
	END
	--Them diem hoat dong
	SET @temp=(SELECT DIEM_HOAT_DONG FROM KHACH_HANG WHERE DIENTHOAIKHACHHANG = @sdt)
	SET @temp=@temp+100
	UPDATE KHACH_HANG
	SET DIEM_HOAT_DONG=@temp
	WHERE DIENTHOAIKHACHHANG = @sdt
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TANGDIEMKHMUANHA_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
-- TANG DIEM KHI KHACH HANG MUA 1 NHA
CREATE   PROCEDURE [dbo].[SP_TANGDIEMKHMUANHA_fix] @sdt VARCHAR(10)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
DECLARE @temp SMALLINT;		
	IF(NOT EXISTS(SELECT * FROM KHACH_HANG WHERE DIENTHOAIKHACHHANG = @sdt))
	BEGIN
		PRINT(N'Khong co khach hang vua nhap. Vui long nhap lai.')
		RETURN
	END
	--Them diem hoat dong
	SET @temp=(SELECT DIEM_HOAT_DONG FROM KHACH_HANG WHERE DIENTHOAIKHACHHANG = @sdt)
	SET @temp=@temp+100
	UPDATE KHACH_HANG
	SET DIEM_HOAT_DONG=@temp
	WHERE DIENTHOAIKHACHHANG = @sdt
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TangDiemNV]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TangDiemNV] @manv varchar(10), @diem_cong int,@error varchar(50) out
as
begin tran
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED
		if (exists(select * from NHAN_VIEN where MANV = @manv))
		begin
			--t1 
			declare @diem smallint = (select DIEM_THUONG from NHAN_VIEN 
										WHERE MANV = @manv)
			SET @diem = @diem + @diem_cong
			--t2
			waitfor delay '00:00:5'
			--t1		
			update NHAN_VIEN set DIEM_THUONG =@diem  WHERE MANV = @manv
		end
		else if(@diem < 0) 
		begin
			set @error = 'Co loi trong luc tang diem cho nhan vien'
			raiserror('Co loi trong luc tang diem cho nhan vien', 0, 0)
			rollback tran
			return
		end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_TangDiemNV_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TangDiemNV_fix] @manv varchar(10), @diem_cong int,@error varchar(50) out
as
begin tran
		SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
		if (exists(select * from NHAN_VIEN where MANV = @manv))
		begin
			--t1 
			declare @diem smallint = (select DIEM_THUONG from NHAN_VIEN  WITH(XLOCK) 
										WHERE MANV = @manv)
			SET @diem = @diem + @diem_cong
			--t2
			waitfor delay '00:00:5'
			--t1		
			update NHAN_VIEN set DIEM_THUONG =@diem  WHERE MANV = @manv
		end
		else if(@diem < 0) 
		begin
			set @error = 'Co loi trong luc tang diem cho nhan vien'
			raiserror('Co loi trong luc tang diem cho nhan vien', 0, 0)
			rollback tran
			return
		end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NV]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_THEM_NV] 
	@MANV NVARCHAR(10),
	@TEN NVARCHAR(50),
	@GIOITINH NVARCHAR(3),
	@LUONG MONEY,
	@USERNAME NVARCHAR(10),
	@PASS NVARCHAR(10)
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	INSERT INTO ACCOUNT VALUES (@USERNAME, @PASS)
	INSERT INTO NHAN_VIEN VALUES (@MANV, 'CNH01', @TEN, @GIOITINH, 'tphcm', '1/1/2000', 123456789, @LUONG, @USERNAME, 0, 0)
	
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_LUONG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=========== Demo lỗi PHANTOM READ
-- Admin thống kê tổng lương của nhân viên trong công ty trong vòng 1 tháng
CREATE   PROCEDURE [dbo].[SP_THONG_KE_LUONG] @TONGL1 MONEY OUT, @TONGL2 MONEY OUT
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	SELECT @TONGL1 = SUM(LUONGNV) FROM NHAN_VIEN 
	PRINT 'TONG LUONG CUA NHAN VIEN TRONG 1 THANG LA:'
	WAITFOR DELAY '0:0:05'
	SELECT @TONGL2 = SUM(LUONGNV) FROM NHAN_VIEN 
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_LUONG_FIX]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_THONG_KE_LUONG_FIX] @TONGL1 MONEY OUT, @TONGL2 MONEY OUT
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	SELECT @TONGL1 = SUM(LUONGNV) FROM NHAN_VIEN 
	PRINT 'TONG LUONG CUA NHAN VIEN TRONG 1 THANG LA:'
	WAITFOR DELAY '0:0:05'
	SELECT @TONGL2 = SUM(LUONGNV) FROM NHAN_VIEN 
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKEKHTIEMNANG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
--THONG KE KHACH HANG TIEM NANG
CREATE   PROC [dbo].[SP_THONGKEKHTIEMNANG] @SoLuongL1 INT OUTPUT   ,@SoLuongL2 INT OUTPUT 
AS
BEGIN TRAN
	--SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
	SELECT MAKHACHHANG,DIEM_HOAT_DONG FROM KHACH_HANG WHERE DIEM_HOAT_DONG >=700
	SET @SoLuongL1=(SELECT COUNT(*)AS SoLuongL1  FROM KHACH_HANG WHERE DIEM_HOAT_DONG >=700)
	 WAITFOR DELAY'00:00:05'
	 SET @SoLuongL2=(SELECT COUNT(*)AS SoLuongL2 FROM KHACH_HANG WHERE DIEM_HOAT_DONG >=700)
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKEKHTIEMNANG_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
--THONG KE KHACH HANG TIEM NANG
CREATE   PROC [dbo].[SP_THONGKEKHTIEMNANG_fix] @SoLuongL1 INT OUTPUT   ,@SoLuongL2 INT OUTPUT 
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	SELECT MAKHACHHANG,DIEM_HOAT_DONG FROM KHACH_HANG WHERE DIEM_HOAT_DONG >=700
	SET @SoLuongL1=(SELECT COUNT(*)AS SoLuongL1  FROM KHACH_HANG WHERE DIEM_HOAT_DONG >=700)
	 WAITFOR DELAY'00:00:05'
	 SET @SoLuongL2=(SELECT COUNT(*)AS SoLuongL2 FROM KHACH_HANG WHERE DIEM_HOAT_DONG >=700)
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeNVXuatSac]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[sp_ThongKeNVXuatSac] @SoLuongL1 INT OUTPUT   ,@SoLuongL2 INT OUTPUT 
AS
BEGIN TRAN

	SET TRANSACTION ISOLATION LEVEL READ COMMITTED

	SELECT MANV,DIEM_THUONG FROM NHAN_VIEN WHERE DIEM_THUONG >= 500

	SET @SoLuongL1 = (SELECT COUNT(*) SoLuongL1 FROM NHAN_VIEN WHERE DIEM_THUONG >= 500)

	WAITFOR DELAY '00:00:07'

	SET @SoLuongL2 = (SELECT COUNT(*) SoLuongL2  FROM NHAN_VIEN WHERE DIEM_THUONG >= 500)
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeNVXuatSac_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[sp_ThongKeNVXuatSac_fix] @SoLuongL1 INT OUTPUT   ,@SoLuongL2 INT OUTPUT
AS
BEGIN TRAN

	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

	SELECT MANV,DIEM_THUONG FROM NHAN_VIEN WHERE DIEM_THUONG >= 500

	SET @SoLuongL1 = (SELECT COUNT(*) SoLuongL1 FROM NHAN_VIEN WHERE DIEM_THUONG >= 500)

	WAITFOR DELAY '00:00:07'

	SET @SoLuongL2 = (SELECT COUNT(*) SoLuongL2  FROM NHAN_VIEN WHERE DIEM_THUONG >= 500)

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_TimKiemNha] 
@Loainha CHAR(1), @count int out
AS
BEGIN TRAN
	BEGIN TRY
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED
  		IF @Loainha = '0' ---Tim nha de thue
		BEGIN
			---Kiểm tra nhà ở tình trạng chưa được thuê thì mới xuất ra
			IF NOT EXISTS (SELECT * FROM [dbo].[NHA_THUE] NT WHERE NT.TINHTRANGNHA = '0')
				BEGIN
					PRINT('Không có nhà đáp ứng yêu cầu của quý khách hàng!!!')
					RAISERROR (N'Không có nhà đáp ứng yêu cầu của quý khách hàng!!!', 0, 0)
					ROLLBACK TRAN
				END
			ELSE
				BEGIN
					---Đếm số dòng sẽ được xuất ra
					---SELECT COUNT(*) AS Soluongdocduoc FROM [dbo].[NHA_THUE] NB WHERE NB.TINHTRANGNHA = '0'
					set @count = (SELECT COUNT(*) AS Soluongdocduoc FROM [dbo].[NHA_THUE] WHERE TINHTRANGNHA = '0')
					WAITFOR DELAY '00:00:5'	
					SELECT * FROM [dbo].[NHA_THUE] NT WHERE NT.TINHTRANGNHA = '0'
				END
		END
		ELSE ---Tim nha de mua
		BEGIN
		---Kiểm tra nhà ở tình trạng chưa được bán thì mới xuất ra
			IF NOT EXISTS (SELECT * FROM [dbo].[NHA_BAN] NB WHERE NB.TINHTRANGNHA = '0')
				BEGIN
					PRINT('Không có nhà đáp ứng yêu cầu của quý khách hàng!!!')
					RAISERROR (N'Không có nhà đáp ứng yêu cầu của quý khách hàng!!!', 0, 0)
					ROLLBACK TRAN
				END
			ELSE
				BEGIN
					---Đếm số dòng sẽ được xuất ra 
					set @count = (SELECT COUNT(*) AS Soluongdocduoc FROM [dbo].[NHA_BAN] NB WHERE NB.TINHTRANGNHA = '0')
					WAITFOR DELAY '00:00:5'
					SELECT * FROM [dbo].[NHA_BAN] NB WHERE NB.TINHTRANGNHA = '0'			
				END
		END
	END TRY
	BEGIN CATCH
		PRINT('Tìm kiếm nhà không thành công!!!')
		RAISERROR (N'Tìm kiếm nhà không thành công!!!', 0, 0)
		ROLLBACK TRAN
	END CATCH
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ACCOUNT]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=========== Demo lỗi DIRTY READ
-- Nhân viên quản lý thay đổi mật khẩu tài khoản khách hàng
CREATE   PROCEDURE [dbo].[SP_UPDATE_ACCOUNT] @ID VARCHAR(10),  @NEWPASS VARCHAR(50)
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	UPDATE ACCOUNT SET _PASSWORD = @NEWPASS WHERE _USERNAME = @ID
	WAITFOR DELAY '0:0:05'
	-- Mật khẩu mới phải là chữ hoặc chữ và số. Không được là chuỗi số
	IF (ISNUMERIC(@NEWPASS) = 1)
	BEGIN
		ROLLBACK
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATENAMEKH]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
--CAP NHAT SUA TEN KHACH HANG
CREATE   PROC [dbo].[SP_UPDATENAMEKH] @maKH VARCHAR(10), @name VARCHAR(50)
as
BEGIN TRAN
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
DECLARE @temp VARCHAR(50)

IF(NOT EXISTS(SELECT * FROM KHACH_HANG WHERE MAKHACHHANG = @maKH))
	BEGIN
		PRINT(N'Khong co khach hang vua nhap. Vui long nhap lai.')
		RETURN
	END
	SET @temp=(SELECT TENKHACHHANG FROM KHACH_HANG WHERE MAKHACHHANG=@maKH)
	 SET @temp = @name
UPDATE KHACH_HANG
	SET TENKHACHHANG=@temp
	WHERE MAKHACHHANG = @maKH
COMMIT TRAN

--=================FIX=======================================================================

--=================================================================================================--
-- CAP NHAT DIEM CHO KHACH HANG
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATENAMEKH_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
--CAP NHAT SUA TEN KHACH HANG
CREATE   PROC [dbo].[SP_UPDATENAMEKH_fix] @maKH VARCHAR(10), @name VARCHAR(50)
as
BEGIN TRAN
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
DECLARE @temp VARCHAR(50)
IF(NOT EXISTS(SELECT * FROM KHACH_HANG WHERE MAKHACHHANG = @maKH))

	BEGIN
		PRINT(N'Khong co khach hang vua nhap. Vui long nhap lai.')
		RETURN
	END
	SET @temp=(SELECT TENKHACHHANG FROM KHACH_HANG WITH(XLOCK) WHERE MAKHACHHANG=@maKH)
	WAITFOR DELAY '00:00:05'
	 SET @temp = @name
UPDATE KHACH_HANG
	SET TENKHACHHANG=@temp
	WHERE MAKHACHHANG = @maKH
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_DS_KHONG_TIEM_NANG]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--=========== Demo lỗi UNREPEATED READ
-- Nhân viên xem danh sách các khách hàng không tiềm năng
CREATE   PROCEDURE [dbo].[SP_XEM_DS_KHONG_TIEM_NANG] @SL1 INT OUT, @SL2 INT OUT
AS
BEGIN TRAN
	SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	SELECT @SL1 = COUNT(*) FROM KHACH_HANG WHERE DIEM_HOAT_DONG < 700
	WAITFOR DELAY '0:0:05'
	SELECT @SL2 = COUNT(*) FROM KHACH_HANG WHERE DIEM_HOAT_DONG < 700
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemLuongVaDiemThuong]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
-- Xem lương của tất cả nhân viên thuộc 1 chi nhánh và xem tổng tiền lương phải trả cho số nhân viên đó trong 1 tháng
create PROCEDURE [dbo].[sp_XemLuongVaDiemThuong]
	@maChiNhanh VARCHAR(10), @tongL money out, @tongDT int out
AS
BEGIN TRAN
	IF (NOT EXISTS(SELECT * FROM dbo.CHI_NHANH WHERE MACHINHANH = @maChiNhanh))
	BEGIN
		PRINT(N'Không tồn tại chi chánh trùng với mã nhập vào')
		RETURN
	END

	SELECT MANV, TENNV, LUONGNV, DIEM_THUONG FROM dbo.NHAN_VIEN where MACHINHANH = @maChiNhanh

	WAITFOR DELAY '00:00:05'

	SET @tongL = (select SUM(LUONGNV) FROM NHAN_VIEN WHERE MACHINHANH = @maChiNhanh)
	SET @tongDT = (select SUM(DIEM_THUONG) FROM NHAN_VIEN WHERE MACHINHANH = @maChiNhanh)

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemLuongVaDiemThuong_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_XemLuongVaDiemThuong_fix]
	@maChiNhanh VARCHAR(10), @tongL money out, @tongDT int out
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL REPEATABLE READ
	IF (NOT EXISTS(SELECT * FROM dbo.CHI_NHANH WHERE MACHINHANH = @maChiNhanh))
	BEGIN
		PRINT(N'Không tồn tại chi chánh trùng với mã nhập vào')
		RETURN
	END

	SELECT MANV, TENNV, LUONGNV, DIEM_THUONG FROM dbo.NHAN_VIEN where MACHINHANH = @maChiNhanh

	WAITFOR DELAY '00:00:05'

	SET @tongL = (select SUM(LUONGNV) FROM NHAN_VIEN WHERE MACHINHANH = @maChiNhanh)
	SET @tongDT = (select SUM(DIEM_THUONG) FROM NHAN_VIEN WHERE MACHINHANH = @maChiNhanh)
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemThongTinKH]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
-- Xem thông tin khách hàng
create PROCEDURE [dbo].[sp_XemThongTinKH]
	@maKH VARCHAR(10)
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	IF (NOT EXISTS(SELECT * FROM dbo.KHACH_HANG WHERE MAKHACHHANG = @maKH))
	BEGIN
		PRINT(N'Không tồn tại khách hàng trùng với mã nhập vào')
		RETURN
	END

	SELECT * FROM dbo.KHACH_HANG WHERE MAKHACHHANG = @maKH

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemThongTinKH_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xem thông tin khách hàng - fix
create PROCEDURE [dbo].[sp_XemThongTinKH_fix]
	@maKH VARCHAR(10)
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL READ COMMITTED
	IF (NOT EXISTS(SELECT * FROM dbo.KHACH_HANG WHERE MAKHACHHANG = @maKH))
	BEGIN
		PRINT(N'Không tồn tại khách hàng trùng với mã nhập vào')
		RETURN
	END

	SELECT * FROM dbo.KHACH_HANG WHERE MAKHACHHANG = @maKH

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemThongTinKhachHang]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_XemThongTinKhachHang]
@Tenkh NVARCHAR(20), @out varchar(50) out 
AS
BEGIN TRAN
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED
		IF NOT EXISTS (SELECT * FROM [dbo].[KHACH_HANG] WHERE TENKHACHHANG = @Tenkh )
		BEGIN
			PRINT N'Không có tên khách hàng đó trong hệ thống'
			RAISERROR(N'Không có tên khách hàng đó trong hệ thống', 0, 0)
			ROLLBACK TRAN
		END
		ELSE
		BEGIN
			---SELECT COUNT(*) AS SLKHACHHANG FROM [dbo].[KHACH_HANG] WHERE TENKHACHHANG = @Tenkh
			set @out = 'Tim thay khach hang theo yeu cau'
			WAITFOR DELAY '00:00:5'
			SELECT * FROM [dbo].[KHACH_HANG] WHERE TENKHACHHANG = @Tenkh 
		END 
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemThongTinNha]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================================================================--
-- Xem thông tin nhà
create PROCEDURE [dbo].[sp_XemThongTinNha]
	@maNha VARCHAR(10)
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	IF (NOT EXISTS(SELECT * FROM dbo.NHA WHERE MANHA = @maNha))
	BEGIN
		PRINT(N'Không tồn tại nhà trùng với mã nhập vào')
		RETURN
	END
	ELSE	
		SELECT * FROM dbo.NHA WHERE MANHA = @maNha
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[sp_XemThongTinNha_fix]    Script Date: 1/14/2021 4:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Xem thông tin nhà
create PROCEDURE [dbo].[sp_XemThongTinNha_fix]
	@maNha VARCHAR(10)
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL READ COMMITTED
	IF (NOT EXISTS(SELECT * FROM dbo.NHA WHERE MANHA = @maNha))
	BEGIN
		PRINT(N'Không tồn tại nhà trùng với mã nhập vào')
		RETURN
	END
	ELSE	
		SELECT * FROM dbo.NHA WHERE MANHA = @maNha
COMMIT TRAN
GO
USE [master]
GO
